<header class="page-header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-us">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#sale">Sale</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          class="header-social-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-social-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="header-social-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          target="_blank"
          rel="noopener noreferrer nofollow"
          ><svg class="header-social-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="burger-menu-btn" data-menu-open>
      <svg class="burger-menu-btn-icon" width="34" height="34">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
