<section class="section welcome-section">
  <div class="container welcome-container">
    <div class="welcome-title-container">
      <h1 class="welcome-title">
        Welcome to our <span class="accent-title">collection</span> of premium
        watches
      </h1>
      <p class="welcome-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>

    <div class="welcome-reviews-list-container">
      <ul class="welcome-reviews-list">
        <li class="welcome-reviews-item">
          <picture>
            <source
              srcset="
                ../img/welcome/mob-first.png    1x,
                ../img/welcome/mob-first@2x.png 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ../img/welcome/tab-first.jpg    1x,
                ../img/welcome/tab-first@2x.jpg 2x
              "
              media="(min-width: 769px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ../img/welcome/desk-first.jpg    1x,
                ../img/welcome/desk-first@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="welcome-reviews-img"
              src="../img/welcome/mob-first.png"
              alt="A blond women"
              width="60"
            />
          </picture>
        </li>
        <li class="welcome-reviews-item">
          <picture>
            <source
              srcset="
                ../img/welcome/mob-second.png    1x,
                ../img/welcome/mob-second@2x.png 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ../img/welcome/tab-second.jpg    1x,
                ../img/welcome/tab-second@2x.jpg 2x
              "
              media="(min-width: 769px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ../img/welcome/desk-second.jpg    1x,
                ../img/welcome/desk-second@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="welcome-reviews-img"
              src="../img/welcome/mob-second.png"
              alt="A men"
              width="60"
            />
          </picture>
        </li>
        <li class="welcome-reviews-item">
          <picture>
            <source
              srcset="
                ../img/welcome/mob-third.png    1x,
                ../img/welcome/mob-third@2x.png 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ../img/welcome/tab-third.jpg    1x,
                ../img/welcome/tab-third@2x.jpg 2x
              "
              media="(min-width: 769px) and (max-width: 1279px)"
            />
            <source
              srcset="
                ../img/welcome/desk-third.jpg    1x,
                ../img/welcome/desk-third@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="welcome-reviews-img"
              src="../img/welcome/mob-third.png"
              alt="
              A women in the glasses"
              width="60"
            />
          </picture>
        </li>
      </ul>

      <a class="scroll-down-link" href="#bottom">Scroll down</a>
    </div>

    <div class="welcome-big-img-container">
      <picture>
        <source
          srcset="
            ../img/welcome/mob-welcome-watch.jpg    1x,
            ../img/welcome/mob-welcome-watch@2x.jpg 2x
          "
          media="(max-width: 768px)"
        />
        <source
          srcset="
            ../img/welcome/tab-welcome-watch.jpg    1x,
            ../img/welcome/tab-welcome-watch@2x.jpg 2x
          "
          media="(min-width: 769px) and (max-width: 1279px)"
        />
        <source
          srcset="
            ../img/welcome/desk-welcome-watch.jpg    1x,
            ../img/welcome/desk-welcome-watch@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <img
          class="welcome-img"
          src="../img/welcome/mob-welcome-watch.jpg"
          alt="watch"
          width="1150"
        />
      </picture>
    </div>
  </div>
</section>
